.subject-logo {
    width: 6em;
    top: 4em;
    margin-top: 1em;
}

.noteBox {
    margin-top: 20px;
    margin-right: 0.75rem;
    margin-left: 0.75rem ;
    border-style: solid;
    text-align: center;
    border-color: #ffffff;
    border-radius: 10px;
    width: 12em;
    min-height: 13em;
    background-color: #24243c;
    cursor: pointer;
    position: relative;
}

.noteBox:hover {
    background-color: #292945;
}

.file-name {
    color: #e0e0e2;
    top: 50%;
    margin-top: 1em;
    left: 6em;

}

.title{
    color: #e0e0e2;
}

.time {
    color: #c6c5ca;
    font-size: 0.8em;
    bottom: 1em;
    margin-bottom: 1em;
    right: 1.25em;
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#floating-button:hover {
    background: #ececec;
}

.plus {
    color: #000000;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

@media screen and (min-width: 0px) {
    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 300px) {
    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto;
    }
}


@media screen and (min-width: 700px) and (max-width: 1000px) {
    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1000px) {
    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
    }
}


@media screen and (min-width: 1400px) {
    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto auto;
    }
}
