body {
    background-color: aquamarine;
    font-family: "Product Sans", Arial, sans-serif;
}

.textarea {
    font-size: 14px;
    width: 30%;
    min-width: 45em;
    max-width: 45em;
    min-height: 58em;
    background-color: white;
    border-left: 4em solid white;
    border-right: 4em solid white;
    border-bottom: 5em solid white;
    border-top: 5em solid white;
    text-align: left;
}

.title {
    align-self: center;
}

.textarea:focus {
    outline: none;
}

#logo {
    width: 4em;
}


