body {
    background-color: #313131;
    font-family: "Product Sans", Arial, sans-serif;
}


#popup {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(28, 28, 28, 0.5);
    overflow: auto;
    align-content: center;
}

#popupContent {
    background-color: blueviolet;
    position: absolute;
    opacity: 1;
    top: 30%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Product Sans", Arial, sans-serif;
}


.box {
    margin-top: 20px;
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: 10px;
    width: 30em;
    min-height: 5em;
    background-color: #96c6c7;
    cursor: pointer;
    position: relative;
}

.subject-logo {
    position: absolute;
    width: 4em;
    top: 1em;
    margin-top: -0.5em;
    left: 1em;
}

.file-name {
    color: #000000;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    left: 6em;
}

.time {
    color: #3a3a3a;
    font-size: 0.8em;
    position: absolute;
    bottom: 1em;
    margin-bottom: -0.5em;
    right: 1.25em;
}

.sub-box{

}
