<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ file_name }} 4-notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='paper-logo.svg') }}">
</head>
<script defer>
    function goHome() {
        setValue();
        console.log("set")
        document.getElementById('form').submit();
        console.log('submit')
        window.location = '/';
    }

    function setValue() {
        const text = document.getElementById('text').innerText;
        document.getElementById('area').value = text;
    }

    function printDiv() {
        const contents = document.getElementById("text").innerHTML;
        const frame1 = document.createElement('iframe');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        const frameDoc = (frame1.contentWindow) ? frame1.contentWindow : (frame1.contentDocument.document) ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('</head><body style="font-family: Arial, sans-serif";><div style="word-break: break-all;border-left: 1.8em solid white;border-right: 1.8em solid white;border-bottom: 5em solid white;">');
        frameDoc.document.write(contents);
        frameDoc.document.write('</div></body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
        }, 500);
        return false;
    }
</script>
<body>

<div class="top-nav" id="top-nav">
    <img onclick="goHome();" id="logo"
         src="{{ url_for('static', filename='paper-logo.svg') }}"/><strong>4-notes </strong>
    <a href="/logout">Logout</a>
    <a id="about" href="/about">About</a>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
<div align="center">
    <h1>Edit</h1>
    <p>{{ file_name }}</p>
    <button onclick="printDiv()">Print</button>

    <form id="form" method="post">
        <button onclick="setValue()" type="submit">Save</button>
        <textarea id="area" name="text" hidden></textarea>
        <div id="text" class="textarea" autofocus contenteditable="true">
            {% for i in range(text|length) %}
                {% if text[i][0] == '#' %}
                    <center><h3 class="title">{{ text[i] }}</h3></center>
                {% else %}
                    <p>{{ text[i] }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <br>
    </form>
</div>
</body>
</html>