<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<script defer>
    function div_show() {
        document.getElementById('popup').style.display = "block";
        document.getElementById('filename').value = 'New_file' + Math.round(Math.random() * 10000);
    }

    //Function to Hide Popup
    function div_hide() {
        document.getElementById('popup').style.display = "none";
    }

    function newFile() {
        filename = document.getElementById('filename').value;
        subject = document.getElementById('subject').value;
        location.href = '/edit/new?subject=' + subject + '&filename=' + filename;
    }
</script>
<body>

{% include 'nav.html' %}

<div align="center">
    <h1>Home</h1>
    <button onclick="div_show()">New note</button>
    {% for i in range(0,notes|length) %}
        <div id="{{ notes[i][0] }}" onclick="location.href = '/edit/{{ notes[i][0] }}';" class="box">
            <h3>
                {{ notes[i][0] }} {{ notes[i][1] }} {{ notes[i][2] }}
            </h3>

        </div>
        <br>
    {% endfor %}

    <div id="popup">
        <div id="popupContent">
            <h2>Create file name</h2>
            <input required id="filename">
            <h2>Select subject</h2>
            <select required name="subject" id="subject">
                <option value="Other">Other</option>
                <option value="CJ">CJ</option>
                <option value="M">M</option>
                <option value="BI">BI</option>
                <option value="Z">Z</option>
                <option value="CH">CH</option>
                <option value="FY">FY</option>
                <option value="D">D</option>
                <option value="ZSV">ZSV</option>
            </select>
            <br>
            <button onclick="div_hide()">Cancel</button>
            <button onclick="newFile()">Create</button>
        </div>
    </div>
</div>


</body>
</html>