<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='paper-logo.svg') }}">

</head>
<script defer>
    function div_show() {
        document.getElementById('popup').style.display = "block";
        document.getElementById('filename').value = 'New_file' + Math.round(Math.random() * 10000);
    }

    //Function to Hide Popup
    function div_hide() {
        document.getElementById('popup').style.display = "none";
    }

    function newFile() {
        filename = document.getElementById('filename').value;
        subject = document.getElementById('subject').value;
        location.href = '/edit/new?subject=' + subject + '&filename=' + filename;
    }
</script>
<body>

{% include 'nav.html' %}

<div align="center">
    <h1>Home</h1>
    <button onclick="div_show()">New note</button>
    {% for i in range(0,notes|length) %}
        <div class="box" id="{{ notes[i][0] }}" onclick="location.href = '/edit/{{ notes[i][0] }}';">
            <img class="subject-logo" src="{{ url_for('static', filename='subjects/'+notes[i][2]+'.svg') }}"/>
            <h3 class="file-name">{{ notes[i][0] }}</h3>
            <p class="time">{{ notes[i][1] }}</p>
        </div>

    {% endfor %}

    <div id="popup">
        <div id="popupContent">
            <h2>Create file name</h2>
            <input required id="filename">
            <h2>Select subject</h2>
            <select required name="subject" id="subject">
                <option value="other">Other</option>
                <option value="cj">CJ</option>
                <option value="m">M</option>
                <option value="bi">BI</option>
                <option value="z">Z</option>
                <option value="ch">CH</option>
                <option value="fy">FY</option>
                <option value="d">D</option>
                <option value="zsv">ZSV</option>
            </select>
            <br>
            <button onclick="div_hide()">Cancel</button>
            <button onclick="newFile()">Create</button>
        </div>
    </div>
</div>


</body>
</html>