<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4-notes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='paper-logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_not_logged.css') }}">
</head>
<script defer>
    function redirect() {
        location.href = '/login'
    }
</script>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><img id="logo"
                         src="{{ url_for('static', filename='paper-logo.svg') }}"/><strong>4-notes </strong></a>
        <a id="about" href="/about">About</a>
    </div>
<div align="center">
    <h1>4-notes for making notes</h1>
    <h1>You are not logged in, please log in to see more</h1>
    <button onclick="redirect()">Login</button>
</div>


</body>
</html>