.topNav {
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

}

.active_button {
    border-radius: 4px;
    float: left;
    cursor: pointer;
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 8px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 17px;
}


.active {
    background-color: #ffffff;
    border-radius: 4px;
    float: left;
    cursor: pointer;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 17px;
}

.active:hover {
    text-decoration: underline;
}


#logout {
    float: right;
    cursor: pointer;
    display: block;
    color: #F7EBE8;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}

#logout:hover {
    text-decoration: underline;
    /*background-color: #9E9694;
    color: black;*/
}

#newNote {
    cursor: pointer;
}




.svg {
    width: 2rem;
}


